/* Widget: modifiche comuni */
.header_widget {
	background-color: #C2D561;
	margin-bottom: 10px;
	width: 100%;
	display: block;
}
.header_widget h2 {
	font-family: "Lato", sans-serif;
	font-weight: 500;
	font-size: 1em !Important;
	text-transform: uppercase;
	margin: 1em 0;
}

.header-widget .widget { padding: 0px !important; }
.header_widget.red { background-color: #D45844; }
.header_widget.red h2{ color: #ffffff; }

.widget .extlinks { padding-left: 35px !important; }
.widget .extlinks li { font-weight: bold; }

/* Donazioni */
.widget .gwalldonate {
	color: #000000;
	font-family: "Lato", sans-serif;
	font-weight: 500;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-left: 35px;
	margin-top: 10px;
}

.widget_donationsidebar_widget p { margin-bottom: 0.9em !important; }

/* Banco Prova e Banco Prova Console */
.widget .gwallselection {
	padding-left: 35px !important;
	padding-bottom: 0.8em;
	font-size: 0.8em !important;
}
.widget .gwallselection li { line-height: 18px !important; }

.othernews {
	font-size: small;
	padding-top: 10px;
}

/* Firefox Addons */
.fa-ul.fxaddonsupdate {
	padding-left: 35px !important;
	font-size: 1em !important;
}
.fa-ul.fxaddonsupdate li { line-height: 22px !important; }

/* Premiata ditta di pulizie */
.scatush { list-style-type: none; }
